.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 3, 3);
}
.popup {

    -fx-shape: "M 10 4 C 10 0 10 0 14 0 L 38 0 C 42 0 42 0 42 4 L 42 4 C 42 8 42 8 38 8 L 18 8 L 16 9 L 14 8 L 14 8 C 10 8 10 8 10 4 Z";
    -fx-background-color: -fx-background-lighter1;
    -fx-alignment: CENTER;
    -fx-padding: 10 10 2000% 10;
    -fx-font-scale: -10;

    -fx-text-fill: -fx-text;
    -fx-translate-x: -2000%;
    -fx-max-width: 300px;

}